.contacts {
  background-color: #ffffff;
}

.contacts__slogan {
  color: #283645;
  margin: 0;
}

.contacts__title {
  color: #283645;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.contacts__text {
  color: #d22856;
  line-height: 33px;
  text-decoration: none;
}
