.contacts {
  background-color: @base-bg-color;
}

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
}

.contacts__slogan {
  color: #283645;
  text-align: center;
  margin: 0 0 33px;
}

.contacts__container {
  text-align: center;
  margin-bottom: 27px;
}

.contacts__way:not(:last-child) {
  margin-bottom: 19px;
}

.contacts__title {
  color: #283645;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.contacts__text {
  color: #d22856;
  line-height: 33px;
  text-decoration: none;
}

.contacts__map {
  background-image: url("../img/page-main/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 200px;
}

@media (min-resolution: 144dpi), (min-resolution: 2dppx) {
  .contacts__map {
    background-image: url("../../img/page-main/map-mobile@2x.jpg");
  }
}

.contacts__map iframe {
  border: none;
  display: block;
}

.contacts__map::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 32px;
  background-image: url("../img/page-main/triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .contacts__slogan {
    font-size: 40px;
    line-height: 54px;
    width: 370px;
    margin: auto auto 33px;
  }

  .contacts__container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contacts__way {
    width: 237px;
  }

  .contacts__way:not(:last-child) {
    margin-bottom: 42px;
  }

  .contacts__title {
    margin: 0 0 3px;
  }

  .contacts__way--phone {
    margin-right: 80px;
  }

  .contacts__phone {
    margin-right: 99px;
  }

  .contacts__address {
    width: 211px;
    margin-left: 155px;
    margin-top: 55px;
  }

  .contacts__map {
    background-image: url("../img/page-main/map-tablet.jpg");
    height: 392px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/page-main/map-tablet@2x.jpg");
    }
  }

  .contacts__map iframe {
    height: 374px;
  }

  .contacts__map::before {
    height: 68px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-bottom: 9px;
  }

  .contacts__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .contacts__slogan {
    font-size: 50px;
    line-height: 68px;
    width: 462px;
    margin-bottom: 40px;
  }

  .contacts__container {
    justify-content: space-around;
    align-items: unset;
  }

  .contacts__way--phone {
    margin-right: 0;
  }

  .contacts__way--email {
    order: 1;
  }

  .contacts__way--address {
    margin-right: 20px;
    margin-left: 20px;
  }

  .contacts__title {
    margin-bottom: 20px;
  }

  .contacts__map {
    background-image: url("../img/page-main/map-desktop.jpg");
    height: 502px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/page-main/map-desktop@2x.jpg");
    }
  }

  .contacts__map iframe {
    height: 502px;
  }

  .contacts__map::before {
    height: 123px;
  }
}
