.contest {
  background-color: @base-bg-color;
}

.contest__main-title {
  width: 275px;
  margin: 45px auto 34px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.contest__main-title--add {
  display: none;
}

.contest__form-wrapper {
  display: flex;
  flex-direction: column;
}

.contest__names-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 44px;
}

.contest__text {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-family: inherit;
  box-sizing: border-box;
  padding: 13px 20px 14px;
  border: 2px solid #e5e5e5;
  outline: 0;
  min-height: 61px;
}

.contest__text:hover {
  border-color: #283645;
}

.contest__text:focus {
  border-color: #d22856;
}

input::placeholder {
  color: #283645;
}

.contest__travel-wrapper {
  background-color: @grey;
  padding: 38px 0 48px;
  margin-bottom: 32px;
}

.contest__travel-group {
  width: 280px;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.contest__travel-title {
  text-align: center;
  width: 220px;
  padding: 0;
  line-height: 18px;
  margin-bottom: 41px;
}

.contest__checkbox {
  display: flex;
  flex-direction: column;
}

.contest__checkbox label {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-transform: none;
  margin-left: 58px;
  margin-bottom: 52px;
  position: relative;
}

.contest__checkbox label:last-child {
  margin-bottom: 0;
}

.contest__checkbox label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -58px;
  width: 34px;
  height: 34px;
  border: 2px solid #e5e5e5;
  background-color: @base-bg-color;
}

.contest__checkbox label:hover::before {
  border-color: #283645;
}

.contest__checkbox label:active::before {
  border-color: #d22856;
}

.contest__checkbox-icon:checked + label::before {
  background-image: url("../img/icon-yes-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contest__checkbox-icon:focus + label::before {
  border-color: #283645;
}

.contest__contacts {
  border: 0;
  padding: 0;
  width: 280px;
  margin: 0 auto 25px;
}

.contest__contacts-label {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 18px;
}

.contest__contacts-input {
  margin-top: 6px;
  width: 100%;
}

.contest__contacts-sign {
  margin-left: 22px;
}

.contest__title--none {
  display: none;
}

.contest__platform-wrapper {
  background-color: @grey;
  order: 1;
  padding: 39px 0;
  margin-bottom: 38px;
}

.contest__platform-group {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.contest__platform-title {
  width: 180px;
  padding: 0;
  text-align: center;
  line-height: 18px;
  margin-bottom: 39px;
}

.contest__radio {
  display: flex;
  flex-direction: column;
}

.contest__radio label {
  font-size: 18px;
  color: #283645;
  text-transform: none;
  margin-left: 69px;
  margin-bottom: 45px;
  position: relative;
  display: inline-block;
}

.contest__radio label:last-child {
  margin-bottom: 0;
}

.contest__radio label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -68px;
  width: 33px;
  height: 33px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 50%;
}

.contest__radio label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -57px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
  display: none;
}

.contest__radio-icon:checked + label::after {
  display: block;
}

.contest__radio label:hover::before {
  border-color: #283645;
}

.contest__radio label:active::before {
  border-color: #d22856;
}

.contest__radio-icon:focus + label::before {
  border-color: #283645;
}

.contest__title {
  color: #d22856;
  font-size: 14px;
  text-transform: uppercase;
}

.contest__names-title:not(:last-child) {
  margin-bottom: 18px;
}

.contest__names-sign {
  margin-left: 22px;
}

.contest__names-input {
  width: 100%;
  margin-top: 6px;
  border-radius: 3px;
}

.contest__textarea-wrapper {
  width: 280px;
  margin: 0 auto 53px;
}

.contest__textarea-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.contest__textarea-title {
  margin-bottom: 9px;
  text-align: center;
}

textarea::placeholder {
  color: #283645;
}

.contest__area {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  border: 2px solid #e5e5e5;
  padding: 15px 20px;
  vertical-align: top;
  resize: none;
}

.contest__area:hover {
  border-color: #283645;
}

.contest__area:focus {
  border-color: #d22856;
}

.contest__button-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contest__button {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  background-color: #2aab6d;
  padding: 15px 46px;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  margin-bottom: 30px;
}

.contest__button:hover {
  background-color: #1c9b5e;
}

.contest__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.contest__button:disabled {
  background-color: #e5e5e5;
}

.contest__info {
  text-transform: uppercase;
  font-size: 14px;
}

.contest__info sup {
  color: #d22856;
  top: -0.25em;
}

.contest__info--desctop-add {
  display: none;
}

@media (min-width: @tablet-width) {
  .contest__main-title {
    font-size: 18px;
    width: 490px;
    margin-top: 91px;
    margin-bottom: 66px;
  }

  .contest__main-title--add {
    display: block;
  }

  .contest__form-wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .contest__names-wrapper {
    width: 620px;
    padding-bottom: 59px;
  }

  .contest__title {
    width: auto;
  }

  .contest__names-sign {
    margin-left: 0;
    margin-right: 18px;
  }

  .contest__names-input {
    width: 525px;
    flex-grow: 1;
  }

  .contest__names-title:not(:last-child) {
    margin-bottom: 49px;
  }

  .contest__names-title {
    display: flex;
    align-items: baseline;
  }

  .contest__travel-wrapper {
    background-color: unset;
    order: 1;
    padding: 0;
    margin-bottom: 54px;
  }

  .contest__travel-group {
    width: 620px;
    padding: 40px 0 53px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }

  .contest__travel-title {
    margin-bottom: 0;
    line-height: 30px;
    padding: 0 25px;
  }

  .contest__checkbox label {
    margin-left: 117px;
  }

  .contest__title--none {
    display: block;
  }

  .contest__contacts {
    width: 620px;
    border: 2px solid #e5e5e5;
    padding: 30px 0 26px;
    margin: 0 auto 54px;
  }

  .contest__contacts-title {
    text-align: center;
    padding: 0 25px;
  }

  .contest__contacts-label {
    flex-direction: column;
    padding: 0;
    margin-bottom: 32px;
    margin-left: 58px;
    position: relative;
  }

  .contest__contacts-label:last-child {
    margin-bottom: 0;
  }

  .contest__contacts-input {
    width: 496px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .contest__contacts-sign {
    margin-left: 19px;
  }

  .contest__phone-icon {
    position: absolute;
    top: 2px;
    right: 66px;
    width: 58px;
    height: 57px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .contest__mail-icon {
    position: absolute;
    top: 2px;
    right: 66px;
    width: 58px;
    height: 57px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .contest__platform-wrapper {
    background-color: unset;
    order: unset;
    padding: 0;
    margin-bottom: 51px;
  }

  .contest__platform-group {
    width: 620px;
    border: 2px solid #e5e5e5;
    padding: 48px 0 60px;
  }

  .contest__platform-title {
    margin-bottom: 0;
    padding: 0 25px;
  }

  .contest__radio label {
    margin-left: 119px;
  }

  .contest__textarea-wrapper {
    width: 620px;
    margin-bottom: 69px;
  }

  .contest__textarea-group {
    border: 2px solid #e5e5e5;
    padding: 29px 0 50px;
  }

  .contest__textarea-title {
    margin-bottom: 0;
    padding: 0 25px;
  }

  .contest__area {
    min-height: 192px;
    margin: 0 58px;
    width: 500px;
  }

  .contest__button-wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contest__button {
    padding: 16px 57px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .contest__main-title {
    width: 757px;
    margin-bottom: 70px;
  }

  .contest__main-title--add {
    display: inline;
  }

  .contest__form-wrapper {
    width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest__names-wrapper {
    width: 433px;
    margin: 9px 72px 52px 0;
    padding-bottom: 0;
  }

  .contest__names-title {
    padding: 0;
  }

  .contest__platform-wrapper {
    width: 431px;
    margin-bottom: 52px;
  }

  .contest__platform-group {
    width: 100%;
    padding: 48px 0 60px;
  }

  .contest__radio label {
    margin-left: 133px;
  }

  .contest__contacts {
    width: 940px;
    padding: 30px 0 14px;
    margin-bottom: 51px;
  }

  .contest__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 65px 0 60px;
  }

  .contest__contacts-label {
    margin-left: 0;
    margin-bottom: 0;
  }

  .contest__contacts-input {
    width: 371px;
  }

  .contest__phone-icon {
    right: 2px;
  }

  .contest__mail-icon {
    right: 2px;
  }

  .contest__travel-group {
    width: 936px;
    padding-bottom: 8px;
  }

  .contest__checkbox {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 0 60px;
  }

  .contest__travel-group label {
    margin-left: 60px;
    width: 200px;
    margin-right: 55px;
  }

  .contest__checkbox label:nth-child(2) {
    order: 1;
  }

  .contest__checkbox label:nth-child(4) {
    order: 4;
  }

  .contest__checkbox label:nth-child(6) {
    order: 2;
    width: 182px;
  }

  .contest__checkbox label:nth-child(8) {
    order: 5;
    width: 180px;
  }

  .contest__checkbox label:nth-child(10) {
    order: 3;
    width: 145px;
  }

  .contest__checkbox label:nth-child(12) {
    order: 5;
    width: 150px;
  }

  .contest__textarea-wrapper {
    width: 940px;
    margin-bottom: 63px;
  }

  .contest__textarea-group {
    padding-top: 24px;
    padding-bottom: 45px;
    margin-bottom: 65px;
  }

  .contest__area {
    width: 816px;
    min-height: 127px;
  }

  .contest__button-wrapper {
    width: 940px;
  }

  .contest__info--desctop-add {
    display: inline;
  }
}
