.information {
  background-color: #f2f2f2;
}

.information__slogan {
  color: #283645;
  margin: 0;
}

.information__list {
  padding: 0;
  margin: 0;
}

.information__title {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.information__description {
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
