.intro {
  background-image: url("../img/page-main/iphone-hand-mobile.png"), url("../img/page-main/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 176px, center top;
  background-size: auto, cover;
  position: relative;
  margin-bottom: 46px;
}

@media (min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/page-main/iphone-hand-mobile@2x.png"), url("../img/page-main/back-mobile@2x.jpg");
    background-size: 320px, cover;
  }
}

.intro__header {
  margin-bottom: 338px;
}

.intro::after {
  content: "";
  position: absolute;
  background-color: #1d2631;
  width: 100%;
  height: 271px;
  bottom: 0;
}

.intro__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 90px;
}

.intro__slogan {
  margin: 0;
  text-align: center;
}

.intro__download {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-bottom: 38px;
}

.intro__download-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
  width: 280px;
  height: 55px;
  text-align: center;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px;
  border-radius: 30px;
  padding: 21px 38px;
}

.intro__download-platform-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.intro__download-text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .intro {
    background-image: url("../img/page-main/iphone-hand-tablet.png"), url("../img/page-main/back-tablet.jpg");
    background-position: right 184px, center top;
    margin-bottom: 58px;
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background-image: url("../img/page-main/iphone-hand-tablet@2x.png"), url("../img/page-main/back-tablet@2x.jpg");
      background-size: 660px, cover;
    }
  }

  .intro__wrapper {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 205px;
  }

  .intro__header {
    display: flex;
    width: 247px;
    padding-left: 30px;
    margin-bottom: 39px;
  }

  .intro::after {
    display: none;
  }

  .intro__slogan {
    font-size: 40px;
    line-height: 48px;
  }

  .intro__download {
    background-color: unset;
    width: 300px;
    padding-bottom: 75px;
  }

  .intro__download-button {
    width: 300px;
    margin: 0;
    margin-bottom: 51px;
  }

  .intro__download-platform-list {
    margin-bottom: 51px;
  }

  .intro__download-text {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    background-image: url("../img/page-main/iphone-hand-desktop.png"), url("../img/page-main/back-desktop.jpg");
    background-position: 85px bottom, center;
    margin-bottom: 77px;
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background-image: url("../img/page-main/iphone-hand-desktop@2x.png"), url("../img/page-main/back-desktop@2x.jpg");
      background-size: 1050px, cover;
    }
  }

  .intro__wrapper {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;
    padding-top: 210px;
  }

  .intro__header {
    margin-bottom: 51px;
  }

  .intro__slogan {
    font-size: 50px;
    line-height: 68px;
  }

  .intro__download {
    padding-bottom: 90px;
  }

  .intro__download-button {
    font-size: 21px;
    padding: 20px 31px;
    margin-bottom: 75px;
  }

  .intro__download-platform-list {
    margin-bottom: 59px;
  }
}
