.logo-header {
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &--visible-phone:active {
    opacity: 0.3;
  }

  &--visible-tablet {
    display: none;
  }

  &--visible-desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .logo-header--visible-phone {
    display: none;
  }

  .logo-header--visible-tablet {
    display: block;
  }

  .logo-header--visible-tablet:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .logo-header--visible-tablet {
    display: none;
  }

  .logo-header--visible-desktop {
    display: block;
  }

  .logo-header--visible-desktop:active {
    opacity: 0.3;
  }
}
