.logo-footer {
  fill: #283645;
}

.logo-footer:hover {
  fill: #d22856;
}

.logo-footer:active {
  opacity: 0.3;
}

.logo-footer--visible-desktop {
  display: none;
}

@media (min-width: @desktop-width) {
  .logo-footer--visible-phone-tablet {
    display: none;
  }

  .logo-footer--visible-desktop {
    display: block;
  }
}

