.main-catalog__title-wrapper {
  background-image: url("../../img/page-main/back-mobile.jpg");
  background-repeat: no-repeat;
}

.main-catalog__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
