.main-form {
  color: #283645;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.main-form__title-wrapper {
  background-image: url("../../img/page-main/back-mobile.jpg");
  background-repeat: no-repeat;
  width: 320px;
  padding-top: 105px;
}

.main-form__title {
  color: #ffffff;
  line-height: 33px;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  text-align: center;
}
