.main-form {
  color: #283645;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-image: url("../../img/page-main/back-mobile.jpg");
  background-repeat: no-repeat;
}

.main-form__title-wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 105px;
}

.main-form__title {
  color: @base-bg-color;
  line-height: 33px;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-form {
    background-image: url("../../img/page-main/back-inner-tablet.jpg");
    background-repeat: no-repeat;
  }

  .main-form__title-wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .main-form__title {
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    background-image: url("../../img/page-main/back-inner-desktop.jpg");
    background-repeat: no-repeat;
  }

  .main-form__title-wrapper {
    width: 940px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    background-image: url("../../img/page-main/back-inner-desktop.jpg");
    background-repeat: no-repeat;
  }

  .main-form__title-wrapper {
    width: 940px;
    margin: 0 auto;
  }
}
