.photo {
  background-color: @base-bg-color;
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.photo__title {
  font-weight: 400;
  font-size: 14px;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.photo__panorama-info {
  background-color: @grey;
  width: 280px;
  margin: 0 auto;
}

.photo__author-info {
  background-color: @grey;
}

.photo__panorama-group {
  margin: 0;
}

.photo__author-name {
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__text {
  margin: 0;
}

.photo__author-like {
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.photo__list--photo-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.photo__item {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .photo__title {
    font-size: 18px;
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .photo__panorama-info {
    width: 620px;
  }

  .photo__list--photo-wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
  }

  .photo__item {
    width: 300px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo__title {
    width: 940px;
    padding: 0 130px;
  }

  .photo__panorama-info {
    width: 940px;
  }

  .photo__list--photo-wrapper {
    width: 940px;
    padding: 0 130px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
  }
}
