.price {
  background-color: #f2f2f2;
}

.price__table {
  background-color: #ffffff;
}

.price__table-line {
  background-color: #283645;
  color: #ffffff;
}
/*
.price__table-cell {
  display: none;
}*/

.price__table-text {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
