.reviews {
  background-color: @base-bg-color;
}

.reviews__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.reviews__list {
  margin-bottom: 44px;
}

.reviews__item {
  margin: 0 auto;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__author-name {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 10px;
}

.reviews__author-age-work {
  display: none;
}

.reviews__text {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .reviews__author-info {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__author-age-work {
    display: unset;
    color: #283645;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    margin: 0;
  }

  .reviews__text {
    font-size: 18px;
    margin-bottom: 51px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    background-image: url("../../img/page-main/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .reviews__wrapper {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;
  }

  .reviews__list {
    padding: 113px 125px 0;
    position: relative;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-age-work {
    font-size: 18px;
  }

  .reviews__slider {
    display: none;
  }

  .reviews__prev {
    display: block;
    position: absolute;
    border: 0;
    background-color: @base-bg-color;
    font-size: 0;
    background-image: url("../img/page-main/icon-review-arrow-left.svg");
    width: 22px;
    height: 41px;
    left: 0;
    top: 140px;
    opacity: 0.3;
    cursor: pointer;
  }

  .reviews__prev:hover {
    opacity: 0.6;
  }

  .reviews__prev:active {
    opacity: 0.1;
  }

  .reviews__next {
    display: block;
    position: absolute;
    border: 0;
    background-color: @base-bg-color;
    font-size: 0;
    background-image: url("../img/page-main/icon-review-arrow-right.svg");
    width: 22px;
    height: 41px;
    right: 0;
    top: 140px;
    opacity: 0.3;
    cursor: pointer;
  }

  .reviews__next:hover {
    opacity: 0.6;
  }

  .reviews__next:active {
    opacity: 0.1;
  }
}
