.reviews {
  background-color: #ffffff;
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.reviews__text {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}
